body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hwb(200 73% 11% / 0.339);
  overflow-x: hidden;
}

header,
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 3rem 0;
}


.intro {
  height: 17em;
  background-color: hsla(201, 41%, 81%, 0.521);
  display: flex;
  align-items: center;
  min-height: 30em;
}

img.house {

  position: relative;
  left: 5em;
  bottom: 3em;
  max-width: 700px;
 
}
/* headings */
h1 {
  font-family: AvenirBlack;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 9em;
  top: 7em;
  font-size: 3rem;

}

h2 {
  font-family: AvenirBlack;
  text-transform: uppercase;
  position: relative; 
  color: hsl(0, 27%, 96%);
  text-align: center;
  font-size: 2.5rem;
}

h3 {
  color: white;
}

h4{
  text-align: center;
  font-size: 2rem;
  position: relative;
  top: 5em;
  left: 7em;
  font-family: ProximaNova;
}

.colors-h3 {
  color: white;
  position: relative;
  left: 3em;
  font-family: ProximaNova;
  font-size: 1.5em;
}
/* einde headings */

.colors{
  background-color: #333;
  position: relative;
  bottom: 2em;
  padding-top: 1em;
}
.color-sample {
  width: 10em;
  height: 10em;
  margin: 10px 0 0 60px ;
  margin-left: 8em;
  border-style: solid;
  border-radius: 50%;
  display: inline-flex;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.5) inset,
            3px 3px 10px rgba(0,0,0,0.3) inset;  
  
}

.color-name{
  position: relative;
  left: 1.7em;
  top: 2.4em;
  font-size: 1.3em;
  font-weight: bold;

}
/* primaire kleuren tekst */
#oranje-p {
  color: black;
}
#wit-p {
  color: black;
}
#blauw-p {
  color: #fff;
}
#zwart-p {
  color: white;
}
/* secundaire kleuren tekst */
#bruin-s {
  color: white;
}
#blauw-s {
  color: #fff;
}
#geel-s {
  color: black;
}
#groen-s {
  color: black;
}
/* grijstinten tekst */
#grijs1-g {
  color: black;
}
#grijs2-g {
  color: black;
}
#grijs3-g {
  color: white;
}
#zwart-g {
  color: white;
}



/* .kader {
  background-color: azure;
  padding: 10em;
  border-radius: 5em;
} */



.code-snippet1 img{
  position: relative;
  right: 0em;
  left: 5em;
 height: 20em;
 
}

.icons img {
  max-width: 50px;
  height: auto;
  margin: 10px 0;
}

.media img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.logos img {
  max-width: 200px;
  height: auto;
  margin: 10px 0;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

form {
  margin: 20px 0;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: calc(100% - 20px); /* Adjust the width of the input */
  padding: 10px;
  margin-bottom: 10px;
}

form input[type="submit"] {
  width: auto; /* Set width to auto for the submit button */
  padding: 8px 15px; /* Adjust padding for the submit button */
}

/* Optional: If you want to align the button with the input */
form input[type="text"],
form input[type="submit"] {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.ui-elements {
  overflow-x: auto; /* Add this line to enable horizontal scrolling */
}

table {
  width: calc(
    100% - 40px
  ); /* Adjust the width to leave space for the vertical scrollbar */
  border-collapse: collapse;
  margin: 20px 0;
}

table,
th,
td {
  border: 1px solid #333;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

.conclusion {
  text-align: center;
}

footer p {
  margin: 0;
}

.color-examples img,
.icons img,
.media img,
.logos img {
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px 0;
}

img {
  max-width: 250px;
  /* height: 200px; */
  object-fit: cover;
  margin: 10px 0;
 
}
