body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hwb(200 73% 11% / 0.339);
  overflow-x: hidden;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 3rem 0;
}

.intro {
  height: 17em;
  background-color: hsla(201, 41%, 81%, 0.521);
  display: flex;
  align-items: center;
  min-height: 30em;
}

img.house {
  position: relative;
  left: 5em;
  bottom: 3em;
  max-width: 700px;
}
/* headings */
h1 {
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 9em;
  top: 7em;
  font-size: 3rem;
}

h2 {
  text-transform: uppercase;
  position: relative;
  color: hsl(0, 27%, 96%);
  text-align: center;
  font-size: 2.5rem;
}

h3 {
  color: white;
}

.logos h3 {
  color: rgb(0, 0, 0);
}

h4 {
  text-align: center;
  font-size: 2rem;
  position: relative;
  top: 5em;
  left: 7em;
}

.colors-h3 {
  color: white;
  position: relative;
  left: 3em;
  font-size: 1.5em;
}
/* einde headings */

.colors {
  background-color: #333;
  position: relative;
  bottom: 2em;
  padding-top: 1em;
  height: 150em;
}
.color-sample {
  width: 10em;
  height: 10em;
  margin: 10px 0 0 60px;
  margin-left: 8em;
  border-style: solid;
  border-radius: 50%;
  display: inline-flex;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5) inset,
    3px 3px 10px rgba(0, 0, 0, 0.3) inset;
}

.color-name {
  position: relative;
  left: 1em;
  top: 2.4em;
  font-size: 1.3em;
  font-weight: bold;
}
/* primaire kleuren tekst */
#oranje-p {
  color: black;
}
#wit-p {
  color: black;
}
#blauw-p {
  color: #fff;
}
#zwart-p {
  color: white;
}
/* secundaire kleuren tekst */
#bruin-s {
  color: white;
}
#blauw-s {
  color: #fff;
}
#geel-s {
  color: black;
}
#groen-s {
  color: black;
}
/* grijstinten tekst */
#grijs1-g {
  color: black;
}
#grijs2-g {
  color: black;
}
#grijs3-g {
  color: white;
}
#zwart-g {
  color: white;
}

.p-text{
  color: white;
  position: relative;
  top: 0.75em;
}
 
/* info kleuren */
#colors-text{
  position: absolute;
  left: 3em;
  bottom:64em;
  border-radius: 5em;
  background-color: #478BB3;
  box-shadow: 3px 3px 4px hsla(0, 0%, 0%, 0.5) inset,
    3px 3px 10px rgba(0, 0, 0, 0.3) inset;
    padding: 1em 3em 0 3em;
}
#ul{
  list-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h5{
  font-size: 17px;
}
/* code snippet */

.container {
  width: 500px;
  margin: 2%;
  background-color: #666;
  position: relative;
  top: 1em;
  left: 40em;
  bottom: 4em;
  padding: 1em 2em 5em 5em;
  border-radius: 5em;
  box-shadow: 3px 3px 4px hsla(0, 0%, 0%, 0.5) inset,
    3px 3px 10px rgba(0, 0, 0, 0.3) inset;

}
#code-content{
  position: relative;
  right: 2em;
}
#language{
  position: relative;
  left: 13em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* kleur kaarten typografie */
#h2-colors2{
  position: relative;
  top: 2em;
}
#card1{
  font-size: 3rem;
}
#card1-p{
  color: white;
  position: relative;
  bottom: 2em;
}
#card2{
  font-size: 3rem;
}
#card2-p{
color: white;
position: relative;
bottom: 2em;
}
#card3{
  font-size: 3rem;
}
#card3-p{
color: #53241B;
position: relative;
bottom: 2em;
}
#card4{
  color: black;
  font-size: 3rem;
}
#card4-p{
color: #DE9000;
position: relative;
bottom: 2em;
}
.card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
  position: relative;
  top: 5em;
  left: 4em;
}
.card-brown{
  width: 30%;
  margin: 1%;
  padding: 50px;
  border-color: palevioletred;
  border-radius: 8px;
  position: relative;
  top: 4em;
  right: 8em;
  box-shadow: 0 2px 5px 0 rgba(3,6,26,0.15);
  background-color: #53241B;
}

.card-orange{
  width: 30%;
  margin: 1%;
  padding: 50px;
  border-color: palevioletred;
  border-radius: 8px;
  position: relative;
  top: 4em;
  right: 5em;
  box-shadow: 0 2px 5px 0 rgba(3,6,26,0.15);
  background-color: #F7A100;
}
.card-blue{
  width: 30%;
  margin: 1%;
  padding: 50px;
  border-color: palevioletred;
  border-radius: 8px;
  position: relative;
  top: 6em;
  right: 8em;
  box-shadow: 0 2px 5px 0 rgba(3,6,26,0.15);
  background-color: #006199;
}
.card-white{
  width: 30%;
  margin: 1%;
  padding: 50px;
  border-color: palevioletred;
  border-radius: 8px;
  position: relative;
  top: 6em;
  right: 5em;
  box-shadow: 0 2px 5px 0 rgba(3,6,26,0.15);
  background-color: #fff;
}


 /* einde colors section */

/* icons section */
.icons {
  background-color: hsla(201, 41%, 81%, 0.521);
  height: 50em;
  align-items: center;
  position: relative;
  bottom: 4em;
}
#icons-h2 {
  color: black;
  position: relative;
  top: 1em;
}
.icons h2 {
color: black;
}
.icons img {
  max-width: 50px;
  height: auto;
  margin: 10px 0;
}


/* einde icons section */

/* media section */
.media {
  background-color: #333;
  height: auto; /* Adjust the height as needed */
  align-items: center;
  position: relative;
  bottom: 7em;
}

.media p{
  color:#fff;
}
#media-h2 {
  color: white;
  position: relative;
  top: 1em;
}

.media img {
  max-width: 100%;
  height: auto;
  margin: 10px; /* Adjust margin as needed */
  display: inline-block; /* Display images as inline-block */
}

#media-h2 {
  color: white;
  position: relative;
  top: 1em;
}

.media img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

#media summary {
  color: white;
}
/* einde typografie section */

/* logos section */
.logos {
  background-color: hsla(201, 41%, 81%, 0.521);
  height: 100em; /* Adjust the value as needed */
  align-items: center;
  position: relative;
  bottom: 9em;
}

section p,
h2,
h3 {
  margin-left: 20px;
}

#logos-h2 {
  color: black;
  position: relative;
  top: 1em;
}
.logos img {
  max-width: 200px;
  height: auto;
  margin: 10px 0;
}
/* einde logos section */

/* buttons, forms, tables section */
.ui-elements {
  background-color: #949494;
  height: auto; /* Set height to auto or adjust as needed */
  width: 100%; /* Set width to 100% to enlarge the section */
  position: relative;
  bottom: 9em;
  overflow-y: auto; /* Add this line to enable vertical scrolling if needed */
}

.ui-elements img {
  margin-left: 20px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

form {
  margin: 20px 0;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
}

form input[type="submit"] {
  width: auto;
  padding: 8px 15px;
}

form input[type="text"],
form input[type="submit"] {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

table {
  width: calc(100% - 40px);
  border-collapse: collapse;
  margin: 20px 0;
}

table,
th,
td {
  border: 1px solid #333;
}
/* einde buttons, forms, tables section */

/* begin compositions section */
.compositions { /*het stukje compositie*/
  background-color: hsla(201, 41%, 81%, 0.521);
  height: 60em;
  position: relative;
  bottom: 11em;
  left: 3em;
  margin: 3em;
  left:3em;
}
#compositions-h2 { /*titel*/
  color: black;
  position: relative;
  top: 1em;
}

#compositions-h3 { /*ondertitel*/
  color: darkslategray;
  position: absolute;
  text-align: center;
  top: 5em;
  margin: 1.5em;
}

hr {
  line-height: 2em;
  color: black;
  position: relative;
  top: 4.5em;
  margin: 1.5em;
  border: 1px solid black;
}

#compositions-h4 {
  color: darkslategray;
  position: absolute;
  text-align: center;
  top: 37em;
  margin: 1.5em;
}

/*grootte en plek plaatjes*/
#compositions-img { 
  max-width: 500px;
  margin: 2em;
  position: relative;
  gap: 2em;
  top: 4em;
}

#compositions-img3 {
  max-width: 500px;
  margin: 2em;
  position: absolute;
  top: 25em;
  left: 0em;
  gap: 1.5em;
}

#compositions-img2 {
  position: relative;
  margin: 2em;
  max-width: 500px;
  margin: 2em;
  gap: 2em;
  top: 3.7em;
}

.compositions p { /*tekstje uitleg*/  
  position: absolute;
  top: 26em;
  left: 36em;
  line-height: 1.5em;
  text-align:center;
  border: dotted;
  border-color: #fff;
  margin:1.5em;
  max-width: 450px;
  padding: 1em;
  border-width: 0.4em;
}

#eigensite1 {
  position: absolute;
  margin: 1.5em;
  left: 0.55em;
  max-width: 500px;
  gap: 1.5em;
  top: 46.5em;
}

#eigensite2 {
  position: relative;
}

/* einde compositions section */

/* navigation section */
.navigation {
  background-color: #333;
  height: 50em;
  position: relative;
  bottom: 13em;
}
#navigation-h2 {
  color: white;
  position: relative;
  top: 1em;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}
/* einde navigation section */

footer {
  background-color: hsla(201, 41%, 81%, 0.521);
}
footer p {
  margin: 0;
  text-align: center;
  padding: 3rem 0;
}

.color-examples img,
.icons img,
.media img,
.logos img {
  max-width: 900px;
  height: 300px;
  object-fit: cover;
  margin: 10px 0;
  margin-left: 30px;
}

img {
  max-width: 250px;
  /* height: 200px; */
  object-fit: cover;
  margin: 10px 0;
}

.ui-elements h5 {
  color: #007bff;
  font-size: large;
}

.ui-elements h6 {
  color: #ffcc00;
  font-size: large;
}

.ui-elements h5 {
  color: #007bff;
  font-size: large;
}

.ui-elements h6 {
  color: #ffcc00;
  font-size: large;
}

.icons-container {
  display: flex; /* Use flexbox to create a horizontal layout */
}

.icons {
  margin-right: 20px; /* Add margin to create space between images and text */
}
